*{
    margin : 0px 0px 0px 0px;

}
@font-face 
{
    font-family: 'customHeading';
    src: url('TechnoRaceItalic.otf') format('opentype');
}

body 
{
    background-repeat: repeat-x ;
    margin: 0px 0px 0px 0px;
    background-size: 1300px auto;
}

h1 
{
    margin-top: 2%;
    font-size: 75px;
    text-align: center;
    font-family: 'customHeading';
}

.Parent-Container
{
    z-index: 0;
    display: flex;    
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button-container
{
    display: flex;
    flex-flow: column;
    margin-right: 0%;
}

#container 
{
    background-color: whitesmoke;
    z-index: 0;
    margin-top: 3%;
    margin-left: 100px;
    margin-right: 19%;
    display: flex;
    flex-flow: wrap;
    width: 536px;
    height: 535px;
    border: 1px black solid;
    align-self: center;
    justify-self: center;
}

.pixels
{
    border: 1px black solid;
    width: 31.5px;
    height: 31.5px;
    margin : 0 0 0 0;
}

p{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: black;
}
.color-picker
{
    margin-bottom: 10%;
}

.Color
{
    width: 230px;
    height: 50px;
    border-radius: 10px;
}

.Clear
{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(100,153,215,1) 100%);
    padding: 15px 30px;
    color: black;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 10px;
}
.Clear:hover
{
    background: radial-gradient(circle, rgba(238,174,202,0.6) 0%, rgba(100,153,215,0.6) 100%);
    padding: 15px 30px;
    color: black;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 10px;
}

#Black-Hues
{
    margin: 10px 10px;
}
#Rainbow
{
    margin: 10px 10px;
}
#Eraser
{
    margin: 10px 10px;
}


.color-options
{
    font-size: large;
    border: 2px black solid;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 15px 15px;
    margin: 0 0 10%;
    color: aliceblue;
    background: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
