*{
    margin : 0px 0px 0px 0px;

}
@font-face {
    font-family: 'customHeading';
    src: url('TechnoRaceItalic.otf') format('opentype');
}

/* h1 styles */
h1 {
    margin-top: 2%;
    font-size: 75px;
    text-align: center;
    font-family: 'customHeading';
}

.Parent-Container{
    display: flex;    
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#container 
{
    margin-top: 3%;
    display: flex;
    flex-flow: wrap;
    width: 536px;
    height: 535px;
    border: 1px black solid;
    align-self: center;
    justify-self: center;
}
.pixels{
    border: 1px black solid;
    width: 31.5px;
    height: 31.5px;
}